<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bincode.info</title>
    {% include 'bootstrap.twig' %}
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Бложик <small>просто бложик, про похапэ и не про похапэ</small></h1>
        <div id="content"></div>
    </div>
</div>

</body>
</html>